.contact-info-container {
    margin-top: 50px;
  }
  
  .contact-info-container h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  .contact-item i {
    margin-right: 10px;
    font-size: 1.5rem;
  }
  