.NotFoundContainer {
    background-image: url("../assets/img/notfound.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-color: rgb(253, 253, 253);
    padding-top: 100px;
}
  
h1 {
    font-size: 2rem;    
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    margin-top: 100px;
    margin-bottom: 0;
}
