.search-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 60px;
    font-family: 'Cinzel', serif;
  }
  
  .btn-search {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #0c0c0c;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  .cardVeterinary {
    display: flex;
    border-radius: 5px;
  }
  
  /* .imgCardVet {
    width: 300px;
    height: 100%;
    background-color: rgb(17, 30, 38);
    border-radius: 5px 0 0 5px;
    margin-right: 10px;
  } */
  
  /* .cardImgVet {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
  } */
  
  .cardInfoVet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Cinzel', serif;
    background-color: rgb(33, 114, 24);
    border-bottom-left-radius: 2.5%;
    border-bottom-right-radius: 2.5%;
    font-size: 16px;
    margin: 1rem;
  }