.vetHomeContainer{
    background-image: url("../../assets/img/vethome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-color: rgb(253, 253, 253);
    
}

.vetTitle > h1 {
    color: #f5f0f0;
    font-size: 30px;   
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Cinzel', serif;
    justify-content:center;
    align-items: center;    
}
.vetHomeButtons{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 20%;
    margin: 0rem auto;
}
.buttonLoginVet{
    display: flex;
    margin: 1.5rem;
    padding: 0.5rem;
}
.buttonMostrarPerfil{
    margin: 1.5rem;
    padding: 0.5rem;
}