body {
    margin: 0px;
  }
  
  video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
  }
  
  .vetHomeContainer{     
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:100%;   
  }   
  
  .vetTitle {
    color: #f5f0f0;
    font-size: 30px;   
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;    
    font-family: 'Cinzel', serif;
    justify-content:center;
    align-items: center;    
  } 

 .searchContainer {
    height: 100%;
    width: 100%;    
  }
   